/* style.css */
.slidev-layout {
  h1, h2, h3, h4, h5, h6 {
    background-color: white;
    background: none;
    color: rgb(107, 33, 168);
  }
}

/* Forcer tous les backgrounds */
* {
}

/* Couleur personnalisée pour le fond */
.slidev-page {
}

